/* common style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Playfair Display';
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

/* header section started  */
.header {
    margin: 20px;
}

.menu-item {
    text-align: center;
}

.menu-item:hover {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #2D2F30;
    transform: scale(1.02);
    transition: transform 1s;
}

.menu-link {
    text-decoration: none;
    color: black;
}

.search-bar {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* hero section started */

.hero-area {
    background: #F9F8F9;
}

.hero-title {
    font-weight: 700;
    font-size: 35px;
    color: #094B72;
    padding-top: 20px;
}

.hero-description {
    font-weight: 500;
    font-size: 16px;
    color: #4F4F4F;
    margin-bottom: 30px;
}

.hero-btn {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #F9F8F9;
    padding: 10px 20px;
    background-color: #094B72;
    border: 1px solid #094B72;
    border-radius: 8px;
}

.hero-btn:hover {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #094B72;
    padding: 10px 20px;
    background-color: #F9F8F9;
    border: 1px solid #094B72;
    border-radius: 8px;
}

.hero-trust {
    font-weight: 400;
    font-size: 16px;
    color: #8B8C8C;
    margin-top: 30px;
}

.hero-logos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
    padding-bottom: 30px;
}

.banner {
    display: none;
}

/* service area style starterd */

.service-area {
    background-color: #F2FCFF;
    padding-bottom: 30px;
}

.services-title {
    font-weight: 700;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.services-description {
    font-weight: 400;
    font-size: 16px;
    color: #8B8C8C;
    padding-bottom: 20px;
}

.services-item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
}

.service {
    background-color: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.service:hover {
    background-color: #F9F8F9;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    transform: scale(1.05);
    transition: transform 1s;
}

.single-service {
    margin: 25px;
}

.service-title {
    font-weight: 700;
    font-size: 22px;
    color: #363940;
}

.service-description {
    font-weight: 400;
    font-size: 16px;
    color: #8B8C8C;
}

/* slack area style started */

.slack-area {
    background-color: #1282A6;
}

.slack {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.slack-title {
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
}

.slack-description {
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
}

.number {
    font-weight: 800;
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.parameter-despription {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

/* testimonial section started */

.testimonial-area {
    background-color: #F4FBFF;
    padding-bottom: 30px;
}

.testimonial-title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
    color: #2D2F30;
}

.review {
    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.review:hover {
    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    transform: scale(1.05);
    transition: transform 1s;
}

.review-title {
    font-weight: 700;
    font-size: 18px;
    padding-top: 20px;
    color: #151617;
    text-align: center;
}

.review-description {
    font-weight: 400;
    font-size: 14px;
    color: #4F4F4F;
    padding: 20px;
    text-align: center;
}

.review-author {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.author-image {
    margin-right: 16px;
}

.author-name {
    margin-top: 15px;
    font-weight: 700;
    font-size: 18px;
}

.author-position {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
}

/* question section started */
.question-area {
    padding-bottom: 30px;
}

.question-title {
    font-weight: 700;
    font-size: 30px;
    color: #2D2F30;
    padding-top: 30px;
}

.question-description {
    font-weight: 400;
    font-size: 16px;
    color: #4F4F4F;
    padding-bottom: 20px;
}

.ques-banner {
    display: none;
}

/* footer section satrted */

.footer-area {
    background-color: #0F6E8C;
    padding-top: 30px;
}

.footer-item {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding-bottom: 30px;
}

.footer-title {
    font-weight: 500;
    font-size: 20px;
    color: #F4F5F7;
}

.footer-description a {
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #EEEFF4;
    text-align: center;
}

.last-area {
    background-color: #05546D;
}

.bottom-description {
    font-weight: 400;
    font-size: 12px;
    color: #D9DBE1;
}

.bottom-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-media {
    margin: 5px 0px;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0px 2px;
}

.social-media a:hover {
    color: #38f0b8;
    text-decoration: none;
    margin: 0px 2px;

}